.tasks{
    width: 100%;
    height: 250px;
    margin-top: 30px;
    overflow: auto;
}

.task-item{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
    background: #fefefe;
    border: 1px solid #7e16ed;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 15px;
}

.task-item h5{
    width: 25%;
}

.task-buttons  > button{
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
    text-transform: capitalize;
    color: #fff;
    border: none;
    margin: auto 5px;
}

.task-edit{
    background: #7e16ed;
}
.task-delete{
    background: #ff0000;
}

.task-status{
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 10px;
    color: #fff;
}
.task-status-done{
    background: green;
}

.task-status-doing{
    background: orange;
    color: #fff;
}

.task-status-undone{
    background: red;
    color: #fff;
}
